<h1>Make New Wish</h1>

<form class="wish-form" action="/wishes" method="post">
  <label for="wish-name">Name</label>
  <input id="wish-name" type="text" name="title" placeholder="e.g. long life">
  <input type="submit" value="Create Wish">
</form>
