<h1>Hello! I'm <%= @whale.name %>.</h1

<p>FACTS ABOUT ME:</p>
<ul>
  <li>I am known as a "<%= @whale.species %>" whale.</li>
  <li>I am <%= @whale.size %> microwhales long! I am a whale measured in whales!</li>
</ul>

<%= link_to "Back to Whales", whales_path %>
