Create a new wish for <%= @whale.name %>!

<form class="whale-wish-form" action="/whales/<%= @whale.id %>/wishes" method="post">
  <label for="wish-title">Name</label>
  <input id="wish-title" type="text" name="wish[title]" placeholder="e.g. long life">

  <input type="submit" value="Create Wish">
</form>
